# Vue dev/build outputs
dist

# Node dependencies
node_modules

# Package Manager
package.json
pnpm-lock.yaml

# Logs
logs
*.log

# Testing
coverage

# Misc
.DS_Store
.fleet
.idea

# Env files
.env*
!.env.example

# Model files
public/model